{%extends "base/base.html"%}
{%load static%}

{%block title %}SARC|About us{%endblock%}
{% block extrahead %}
<script src="{% static 'js/aboutUs.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/aboutUs.css' %}">
<style>
  body {
  margin: 0;
  padding: 0;
  flex-direction: column;
  display: flex;
}
.carousel {
  overflow: hidden;
  max-width: 100%; /* Set maximum width for the carousel */
}

.carousel-inner {
  width: 100%; /* Ensure the carousel container stretches to fit the images */
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center; /* Adjust as needed */
}

.footer-section {
  margin-top: 50px; /* Adjust the margin as needed */
  display: flex;
  flex: 0 0 auto; /* Do not grow or shrink, and stay at the initial size */
}

.footer {
  width: 100%;
  padding: 10px;
}

@media (max-width: 768px) {
  .carousel-item img {
    max-height: calc(100vh - 100px); /* Adjust the value based on your design */
  }

  .footer-section {
    margin-top: 20px; /* Adjust the margin as needed */
  }
}

.small-featurette-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {
.featurette {
    flex-direction: column;
  }

.featurette > div {
    width: 100%;
  }

.featurette > div:first-child {
    margin-bottom: 20px;
  }
}

</style>
{% endblock %}


{%block content%}  
    <!-- CAROUSEL -->

    <section>
      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="{%static 'images/batchsnaps.jpg'%}"  alt="First slide" style="width: 100%; height: 100vh; object-fit: cover; object-position: center 100%; transform: scale(1.1) translateX(15px);">
            

            <div class="container">
              <div class="carousel-caption">
                <h1>Batchsnaps-2024</h1>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="{%static 'images/metanoia.jpeg'%}" alt="First slide" style="width: 100%; height: 100vh; object-fit: cover; object-position: center 40%;">
            <div class="container">
              <div class="carousel-caption">
                <h1>Metanoia</h1>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{%static 'images/dtp_picture.png'%}" alt="Third slide" style="width: 100%; height: 100vh; object-fit: cover; object-position: center 84%;">
            <div class="container">
              <div class="carousel-caption">
                <h1>Directors Tea Party.</h1>
              </div>
            </div>
          </div>
        </div>
    
        
      </div>
    </section>

    <!-- COORDINATORS -->
    <section>
      <div class="container-fluid">
        <div class="container text-center">
          <div
            class="title giving-to-bits-title alumni-articles-title"
            style="font-size: 78px"
          >
            Meet Our Team
          </div>
          <div class="row custom-container">
            <div class="col-lg-4">
              <img
                src="{%static 'images/Nitin_Sharma.jpeg'%}"
                alt="Rounded Image"
                class="rounded-image profile-picture hover-zoom"
                width="150"
                height="150"
              />
              <h2 class="profile-heading">Dr. Nitin Sharma</h2>
              <p class="profile-description coordinator-title">
                Associate Dean
              </p>
              <p class="profile-description coordinator-designation">
                Alumni Relations Division
              </p>
            </div>
            <div class="col-lg-4">
              <img
                src="{%static 'images/rahul.jpeg'%}"
                alt="Rounded Image"
                class="rounded-image profile-picture hover-zoom"
                width="150"
                height="150"
              />
              <h2 class="profile-heading">Rahul Dessai</h2>
              <p class="profile-description coordinator-title">
                Office Assistant
              </p>
              <p class="profile-description coordinator-designation">
                Alumni Relations Division
              </p>
            </div>
            <div class="col-lg-4">
              <img
                src="{%static 'images/manager.jpeg'%}"
                alt="Rounded Image"
                class="rounded-image profile-picture hover-zoom"
                width="150"
                height="150"
              />
              <h2 class="profile-heading">Dr. Sridevi Jaiswal</h2>
              <p class="profile-description coordinator-title">
                Manager
              </p>
              <p class="profile-description coordinator-designation">
                Alumni Relations Division
              </p>
            </div>
          </div>
          <div class="row custom-container">
            <div class="col-lg-4">
              <img
                src="{%static 'images/ps.png'%}"
                alt="Rounded Image"
                class="rounded-image profile-picture hover-zoom"
                width="150"
                height="150"
              />
              <h2 class="profile-heading">Paarth Sikka</h2>
              <p class="profile-description coordinator-title">Coordinator</p>
              <p class="profile-description coordinator-designation">
                <!--  -->
              </p>
            </div>
            <div class="col-lg-4">
              <img
                src="{%static 'images/bhsa.jpg'%}"
                alt="Rounded Image"
                class="rounded-image profile-picture hover-zoom"
                width="150"
                height="150"
              />
              <h2 class="profile-heading">Bhuvan Satrasala</h2>
              <p class="profile-description coordinator-title">Coordinator</p>
              <p class="profile-description coordinator-designation">
                <!--  -->
              </p>
            </div>
            <div class="col-lg-4 custorm-column">
              <img
                src="{%static 'images/bs.jpg'%}"
                alt="Rounded Image"
                class="rounded-image profile-picture hover-zoom"
                width="150"
                height="150"
              />
              <h2 class="profile-heading">Bhushan Shetye</h2>
              <p class="profile-description coordinator-title">Coordinator</p>
              <p class="profile-description coordinator-designation">
                <!-- Finance and Logistics -->
              </p>
            </div>
          </div>
          <div class="row custom-container">
            <div class="col-lg-4">
              <img
                src="{%static 'images/ss.jpg'%}"
                alt="Rounded Image"
                class="rounded-image profile-picture hover-zoom"
                width="150"
                height="150"
              />
              <h2 class="profile-heading">Shambhavi Shivkumar</h2>
              <p class="profile-description coordinator-title">Coordinator</p>
              <p class="profile-description coordinator-designation">
                <!-- Finance Head -->
              </p>
            </div>
            <div class="col-lg-4">
              <img
                src="{%static 'images/kb.jpg'%}"
                alt="Rounded Image"
                class="rounded-image profile-picture hover-zoom"
                width="150"
                height="150"
              />
              <h2 class="profile-heading">Kavya Banthiya</h2>
              <p class="profile-description coordinator-title">Coordinator</p>
              <p class="profile-description coordinator-designation">
                <!-- Design Head -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    

    {% endblock %}