{%extends "base/base.html"%}
{%load static%}

{%block title %}SARC|Contact{%endblock%}
{% block extrahead %}<link rel="stylesheet" href="{% static 'css/Contact.css' %}">{% endblock %}

{%block content%}

  <section class="align-items-end">
    <div class="image-banner align-items-end" style="background-image: url({%static 'images/bdomeImageMain.jpeg'%});">
      <div class="overlay"></div>
      <div class="container text">
        <h1 class="image-banner-title">Contact us</h1>
        <p class="image-banner-description">If you have any questions or would like to get in touch with us, please find the contact details below.</p>
      </div>
    </div>
  </section>

  <section class="contact-us-form-section blueGradientBG" style="margin-bottom: 0px;">
    <div class="container-fluid" style="margin-bottom: 0px;">
      <div class="contactUs">
        
        <div class="box">
              
              <!-- FORM -->
              <div class="contact form">
                <h2>Send a message</h2>
                {% if message %}
                  {%if form_errors%}
                  <span class="error-message">{{message}}</span>
                      
                  {%else%}
                    {{message}}
                  {% endif %}
                {% endif %}
                <form method=POST>
                  {% csrf_token %} 
                  <div class="formBox">
                    <div class="row50">
                      <div class="inputBox">
                        <span>First Name</span>
                        {{form.firstName}}
                        <!-- {{form.firstName.errors}} -->
                        <span class="error-message">{{form.firstName.errors}}</span>
                      </div>
                      <div class="inputBox">
                        <span>Last Name</span>
                        {{form.lastName}}
                        <span class="error-message">{{form.lastName.errors}}</span>
                        <!-- {{form.lastName.errors}} -->
                      </div>
                    </div>
                    <div class="row50">
                      <div class="inputBox">
                        <span>Email</span>
                        {{form.email}}
                        <!-- {{form.email.errors}} -->
                        <span class="error-message">{{form.email.errors}}</span>
                      </div>
                      <div class="inputBox">
                        <span>Phone Number</span>
                        <!-- <input type="text" placeholder="Mobile Number"> -->
                        {{form.phoneNumber}}
                        <span class="error-message">{{form.phoneNumber.errors}}</span>
                        <!-- {{form.phoneNumber.errors}} -->
                      </div>
                    </div>
                    <div class="row100">
                      <div class="inputBox">
                        <span>Subject</span>
                        {{form.subject}}
                        <span class="error-message">{{form.subject.errors}}</span>
                      </div>
                    </div>
                    <div class="row100">
                      <div class="inputBox">
                        <span>Message</span>
                        {{form.message}}
                        <span class="error-message">{{form.message.errors}}</span>
                      </div>
                    </div>
                    <div class="row100">
                      <div class="inputBox">
                        <input type="submit" title="submit">
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <!-- INFO BOX -->
              <div class="contact info">
                <h3>Contact Info</h3>
                <div class="infoBox">
                  <div>
                    <span><ion-icon name="location-outline"></ion-icon>
                    </span>
                    <p>BITS Pilani, KK Birla Goa Campus <br>NH 17B, Zuarinagar 403 726, Goa, India</p>
                  </div>
                  <div>
                    <span><ion-icon name="mail-outline"></ion-icon></span>
                    <a href="mailto:aryanmathure@gmail.com">aryanmathure@gmail.com</a>
                  </div>
                  <div>
                    <span><ion-icon name="call-outline"></ion-icon></span>
                    <a href="tel:+918805598093">+91 88055 98093</a>
                  </div>
                  <ul class="sci">
                    <li><a href=""><ion-icon name="logo-facebook"></ion-icon></a></li>
                    <li><a href=""><ion-icon name="logo-twitter"></ion-icon></a></li>
                    <li><a href=""><ion-icon name="logo-linkedin"></ion-icon></a></li>
                    <li><a href=""><ion-icon name="logo-instagram"></ion-icon></a></li>
                  </ul>
                </div>
              </div>

              <!-- MAP BOX -->
              <div class="contact map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8521.723276331153!2d73.87061886269106!3d15.390682477012767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbfb8375851666d%3A0x4ad5683010110240!2sBITS%20Pilani%20K%20K%20Birla%20Goa%20Campus!5e0!3m2!1sen!2sin!4v1706786891723!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
    </div>
  </section>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var currentTag= document.getElementsByClassName("active")
      currentTag[0].classList.remove("active");
      var element=document.getElementById("id_contactUs");
      element.classList.add('active')
    });
  </script>
{%endblock%}