{%extends "base/base.html"%}
{%load static%}

{%block title %}SARC|Events{%endblock%}
{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/events.css' %}">
  <link rel="stylesheet" href="{% static 'css/aboutUs.css' %}">
  <meta charset="UTF-8" />

  <script href="{% static 'js/events.js' %}"></script>
  <link
      href="https://fonts.googleapis.com/css?family=Roboto:100i,300,400,500,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Allura"
      rel="stylesheet"
    />
    <script>
      window.console = window.console || function (t) {};
    </script>
{% endblock %}

{%block content%}
<section class="timeline">
  <div
    class="container text-center"
    style="
      margin-bottom: 20px;
      position: relative;
      z-index: 1;
      justify-content: center;
    "
  >
    <button
      class="btn btn-lg"
      style="
        background-color: #d1281c;
        border-radius: 50px;
        width: 20%;
        justify-content: center;
        align-items: center;
      "
    >
      <h3 style="color: #ffffff; margin-bottom: 5px; margin-top: 5px">
        {{currentYear}}
      </h3>
    </button>
  </div>
  <div class="container" style="margin-top: 50px; margin-bottom: 50px; position: relative">

    {%for event in events%}
      <div class="timeline-item">
        <div class="timeline-img">
        </div>
        <div class="timeline-content timeline-card js--fadeInRight">
          <div class="timeline-img-header">
            <div class="imageContainer">
              <!-- <img class="imageData" src="{{event.image.url}}" alt="img"> -->
            </div>
            
            <h2>{{event.title}}</h2>
          </div>
          <div class="date">{{event.date}}</div>
          <p>
            {{event.content}}
          </p>
          <a class="bnt-more" href="javascript:void(0)">More</a>
        </div>
      </div>
    {%endfor%}

  </div>

  <div class="container text-center"
    style="
      margin-top: 20px;
      margin-bottom: 20px;
      position: relative;
      z-index: 1;
      justify-content: center;
    "
  >
    <button
      class="btn btn-lg"
      style="
        background-color: #d1281c;
        border-radius: 50px;
        width: 20%;
        justify-content: center;
        align-items: center;
      "
    >
      <h3 style="color: #ffffff; margin-bottom: 5px; margin-top: 5px">
        {{prevYear}}
      </h3>
    </button>
  </div>
</section>

<script href="{% static 'js/1.js' %}"></script>
<script href="{% static 'js/scrollreveal.js' %}"></script>
   <script id="rendered-js">
      $(function () {
        window.sr = ScrollReveal();

        if ($(window).width() < 768) {
          if ($(".timeline-content").hasClass("js--fadeInLeft")) {
            $(".timeline-content")
              .removeClass("js--fadeInLeft")
              .addClass("js--fadeInRight");
          }

          sr.reveal(".js--fadeInRight", {
            origin: "right",
            distance: "300px",
            easing: "ease-in-out",
            duration: 800,
          });
        } else {
          sr.reveal(".js--fadeInLeft", {
            origin: "left",
            distance: "300px",
            easing: "ease-in-out",
            duration: 800,
          });

          sr.reveal(".js--fadeInRight", {
            origin: "right",
            distance: "300px",
            easing: "ease-in-out",
            duration: 800,
          });
        }

        sr.reveal(".js--fadeInLeft", {
          origin: "left",
          distance: "300px",
          easing: "ease-in-out",
          duration: 800,
        });

        sr.reveal(".js--fadeInRight", {
          origin: "right",
          distance: "300px",
          easing: "ease-in-out",
          duration: 800,
        });
      });
    </script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var currentTag= document.getElementsByClassName("active")
        currentTag[0].classList.remove("active");
        var element=document.getElementById("id_events");
        element.classList.add('active')
      });
    </script>
{%endblock%}












