{%extends "base/base.html"%}
{% load custom_filters %}
{%load static%}

{%block title %}SARC|Home{%endblock%}
{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/frontPage.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{%block content%}


<section class="section-1-image pt-5 pb-5 mt-0 align-items-end d-flex bg-dark image-zoom" style="min-height: 70vh; background-size: cover; background-position: center center; background-image: url({%static 'images/bdomeImageMain.jpeg'%});"> 
  <div class="container">
   <div class="row d-flex justify-content-center">
     <div class="col-12 col-md-10">
       <h1 class="display-2 text-white font-weight-bold mb-3 mt-5 display-5 text-center">Welcome Back</h1>
       <p class="display-5 text-white text-center mb-4 ">
         Celebrating 20 years of excellence
       </p>
     </div>
   </div>
 </div>
</section>


<section>
  <div class="container text-center">
    <div class="row custom-row counter-container">
      <div class="col-md-6 custom-col">
        <ul class="counter-list">
          <li>
            <div class="container counter-list-container text-center">
              <div class="row counter-info-row">
                <div class="col ">
                  <p class="counter-value" id="alumni">18K+</p>
                </div>
                <div class="col align-self-center">
                  <p class="counter-tag">Alumni</p>
                </div>
              </div>
              <div class="row">
                <hr style="height:1px;border-width:0;color:gray;background-color:gray">
              </div>
            </div>
          </li>
          <li>
            <div class="container counter-list-container text-center ">
              <div class="row counter-info-row">
                <div class="col">
                  <p class="counter-value" id="students">3K+</p>
                </div>
                <div class="col align-self-center">
                  <p class="counter-tag">Students</p>
                </div>
              </div>
              <div class="row">
                <hr style="height:1px;border-width:0;color:gray;background-color:gray">
              </div>
            </div>
          </li>
          <li>
            <div class="container counter-list-container text-center">
              <div class="row">
                <div class="col text">
                  <p class="counter-value" id="faculty">700+  </p>
                </div>
                <div class="col align-self-center">
                  <p class="counter-tag">Faculty</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col align-self-center">
        <img src="{%static 'images/bits logo.png'%}" height="100%" width="100%">
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container-gtb">
    <div class="image-section-gtb">
      <img src="{%static 'images/bdomeImageMain.jpeg'%}" alt="Campus Image">
    </div>
    <div class="text-section-gtb">
      <div class="title-gtb">Giving to BITS</div>
      <p class="description-gtb">Thank you for deciding to donate to BITS Goa. There are various avenues where alumni donations have been used - scholarships, Research Endowment Funds, faculty awards, infrastructure development, setting up labs and many more. Your contributions are valuable and help make the campus what it is today, and what it will be in the years to come. 
      </p>
      <a href="" class="cta-button-gtb"><span>Know More</span></a>
    </div>
    
  </div>
</section>
<!-- EVENTS -->
<section>
    {%if events%}
      <div class="mx-auto py-8 px-4 sm:px-6 lg:px-8 lg:mx-8 event-heading">    
        <h2 class="text-6xl font-bold text-gray-900 mb-8 text-center" >Events</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
            {%for event in events%}
              <a class="cardTag" href="{%url 'events'%}">
                <div class="rounded-lg border bg-card text-card-foreground w-full shadow-lg hover:shadow-xl custom-card-height" data-v0-t="card">
                  <img
                    alt="VA Immersive event"
                    class="w-full h-52 object-cover event-card-img"
                    height="400"
                    src="{{event.image.url}}"
                    width="300"
                    style="aspect-ratio: 300 / 400; object-fit: cover;"
                  />
                  <div class="p-4">
                    <div class="bg-red-600 text-white px-3 py-1 inline-block absolute -mt-12 ml-4 border-2 border-black">
                      <span class="text-xs font-semibold tracking-wide uppercase">{{ event.date|month_abbr}}</span>
                      <span class="block text-2xl font-bold">{{event.date.day}}</span>
                    </div>
                    <h3 class="mt-4 text-lg font-semibold overflow-hidden h-15 break-words">{{event.title}}</h3>
                    <p class="mt-2 text-sm text-gray-600">{{event.content| formatContent}}</p>
                  </div>
                </div>
              </a>
            {%endfor%}
          </div>
          <div class="mt-8 text-center">
            <a href="{%url 'events'%}">
              <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-primary/90 h-10 px-4 py-2 bg-red-600 text-white">
                More events
              </button>
            </a>
          </div>
      </div>
    {%else%}
      <h2 class="text-6xl font-bold text-gray-900 mb-8 text-center" >Events</h2>
      <section class="flex flex-1 w-full items-center justify-center py-12 text-center">

        <div class="space-y-4">
          <div class="inline-flex items-center space-x-2 text-5xl font-semibold">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="48"
              height="48"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <rect width="18" height="18" x="3" y="4" rx="2" ry="2"></rect>
              <line x1="16" x2="16" y1="2" y2="6"></line>
              <line x1="8" x2="8" y1="2" y2="6"></line>
              <line x1="3" x2="21" y1="10" y2="10"></line>
              <path d="m9 16 2 2 4-4"></path>
            </svg>
            <span>Nothing here</span>
          </div>
          <p class="text-gray-500 dark:text-gray-400">Check again soon for updates.</p>
        </div>
      </section>
    {%endif%}
</section>


<!-- ALUMNI ARTICLES PAGE -->
<section class="timeline alumni-articles" style="padding-top:20px;">
  <div class="container container-alumni-articles">
    <div class="title giving-to-bits-title alumni-articles-title">Alumni Articles</div>
    <p class="intro-text alumni-articles-intro-text">Unlock the captivating tales of our accomplished alumni. From their personal growth to professional success, their stories are sure to leave you in awe. Get a glimpse into their lives and be motivated by their achievements by reading our Alumni stories today!</p>
    <div class="alumni-articles-container">
      <div class="row articles">
        <div class="col-12 col-md-4 article">
          <div class="article-content">
            <h2 class="article-title">Kushal Verma: Riding the Creative Business Waves to Mastery</h2>
            <p class="article-summary">Kushal Verma, a BITS Pilani marine engineering graduate, shifted into a creative business expert, crafting brand strategies and growth plans. Inspired by his tech logistics startup, he emphasizes authentic storytelling across various mediums.<br><br></p>
            <button class="read-more">Read More</button>
          </div>
        </div>
        <div class="col-12 col-md-4 article">
          <div class="article-content">
            <h2 class="article-title">Career Transitions: Insights from Noyonika Banerjee</h2>
            <p class="article-summary">Noyonika Banerjee, a 2015 BITS Goa graduate in Electrical and Electronics, transitioned to investment banking, emphasizing adaptability and skill transferability. Her experiences offer guidance for navigating dynamic career paths, highlighting the significance of a strong educational foundation.</p>
            <button class="read-more">Read More</button>
          </div>
        </div>
        <div class="col-12 col-md-4 article">
          <div class="article-content">
            <h2 class="article-title">Suryansh Rastogi: Cloud Security Today</h2>
            <p class="article-summary"><br> Suryansh Rastogi, a BITS Pilani graduate, transitioned into cloud security roles at Deloitte US, Oracle, and Microsoft. He shares insights on security considerations, career transitions, and growth opportunities in the field. Connect with him on LinkedIn for guidance.<br><br></p>
            <button class="read-more">Read More</button>
          </div>
        </div>
      </div>
      <div class="col-12 text-center">
        <button class="view-all btn-lg "><span>View All</span></button>
      </div>
    </div>
  </div>
</section>



<script>
function animateCounter(elementId, endValue) {
  let counterElement = document.getElementById(elementId);
  let currentValue = 0;
  let increment = endValue < 200 ? 1 : Math.floor(endValue / 100);

  function updateDisplay() {
    if (elementId == "faculty"){
      counterElement.textContent = `${currentValue}`
      }else{
        counterElement.textContent = `${currentValue}K+`;
      }
    if (currentValue < endValue) {
      currentValue += increment;
      requestAnimationFrame(updateDisplay);
    } else {
      if (elementId == "faculty"){
        counterElement.textContent = `${endValue}`;
      }else{
        counterElement.textContent = `${endValue}K+`;
      }
    }
  }

  requestAnimationFrame(updateDisplay);
}

document.addEventListener('DOMContentLoaded', function () {
  var currentTag= document.getElementsByClassName("active")
  currentTag[0].classList.remove("active");
  var element=document.getElementById("id_home");
  element.classList.add('active')
  animateCounter("alumni", 13);
  animateCounter("students", 3);
  animateCounter("faculty", 700);
  animateCounter("patents", 500);
});
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>



{%endblock%}