#myCarousel {
  width: 100%;
  height: 100%;
  margin: auto;
}

/* Ensure images within the carousel maintain fixed dimensions */
#myCarousel .carousel-inner img {
  width: 100%;
  height: 50%;
  object-fit: contain;
  /* This property ensures the image covers the entire container */
}

.rounded-image {
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture {
  margin-top: 50px;
  margin-bottom: 20px;
}

.profile-heading {
  font-family: "Open Sans", sans-serif;
  color: #211d70;
  margin: 10px 0;
  transition: color 0.3s ease;
  font-size: 40px;
}

.coordinators-heading {}

/* --------------------- CAROSEL CSS ---------------------------- */
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 3rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 40rem;
  background-color: #777;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.custom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coordinator-title {
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 0;
}

.coordinator-designation {
  margin-top: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 200;
}

.image-container-1 {
  /* Apply the desired rotation angle */
  transform: rotate(-10deg);
  padding-left: 150px;
  padding-top: 50px;
}

.image-container-2 {
  /* Apply the desired rotation angle */
  transform: rotate(10deg);
  padding-right: 150px;
  padding-top: 50px;
}

.image-container-3 {
  /* Apply the desired rotation angle */
  transform: rotate(-7deg);
  padding-left: 150px;
  padding-top: 50px;
}

.lead {
  padding-left: 90px;
  padding-right: 90px;
}

.featurette-heading {
  padding-left: 90px;
  padding-right: 90px;
}