.counter-container {
  padding-top: 20px;
}

.counter-list {
  list-style-type: none;
}

.counter-tag {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 200;
  line-height: 1;
}

.counter-value {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  font-size: 70px;
  color: #000;
}


.counter-list-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.custom-row {
  margin-right: 15px;
  margin-left: -15px;
}

.custom-col {
  margin-right: 100px;
  margin-left: 15px;
}


hr {
  width: 100%;
}

.counter-info-row {
  margin-bottom: 20px;
}

.imageContainer {
  width: 288px;
  height: 192px;
  /* overflow: hidden; */
  position: relative;
}

.imageData {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}


/* Giving to bits================================================ */

.container-gtb {
  display: flex;
  flex-direction: column;
  /* Arrange sections vertically */
  padding: 20px;
  background-color: #f4f4f4;
}

.text-section-gtb {
  max-width: 100%;
  /* Occupy full width */
  margin-bottom: 20px;
  padding-left: 30px;
  /* Add some space between sections */
}

.title-gtb {
  font-size: 64px;
  color: #333;
  margin-bottom: 20px;
}

.description-gtb {
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
}

.cta-button-gtb {
  background-color: red !important;
  color: white;
  padding: 15px 20px;
  text-decoration: none !important;
  border-radius: 10px;
  display: inline-block;
  /* margin-top: 30px;
  position: relative; */
  overflow: hidden;
}

.cta-button-gtb:hover {
  background-color: rgb(182, 0, 0) !important;
}

.cta-button-gtb:before {
  content: '';

  position: absolute;
  color: white !important;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  text-decoration: none !important;
  transition: right 0.5s ease;
  z-index: 0;
}

.cta-button-gtb span {
  position: relative;
  z-index: 1;
}

.cta-button-gtb:hover:before {
  right: 0;
}

.image-section-gtb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* Occupy full width */
  margin-bottom: 20px;
  /* Add some space between sections */
}

.image-section-gtb img {
  max-width: 100%;
  /* Ensure image fits within container */
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.image-section-gtb img:hover {
  transform: scale(1.05);
}

@media (min-width: 600px) {
  .container-gtb {
    flex-direction: row;
    /* Switch back to horizontal layout */
    align-items: center;
    /* Center align items vertically */
  }

  .text-section-gtb {
    max-width: 50%;
    /* Occupy half width on larger screens */
    margin-right: 20px;
    /* Add space between sections */
  }

  .image-section-gtb {
    width: 50%;
    /* Occupy half width on larger screens */
  }
}

.cardTag {
  color: #000;
  text-decoration: none;
}

.cardTag:hover {
  color: #000;
  text-decoration: none;
}




.max-w-6xl {
  margin-top: -2rem;
}