/* Basic styles */
body {
  font-family: Arial, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* min-height: 100vh; */
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.navbar {
  background-color: #FFFFFF;
  margin-bottom: 0;
  padding: 0rem 1rem;
}



.brand {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}

.navbar-brand {
  min-height: 40px;
}

.navbar-brand .navbar-brand-img {
  /* Fixed height of the logo */
  height: 90px;
  width: 378px;
  /* Fixed width of the logo */
  /* Adjust height and width as needed */
}



.nav-links li {
  margin-right: 16px;
  list-style: none;
  display: flex;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Red bar on top */
.red-bar {
  background-color: #A51C30;
  /* Harvard red color */
  height: 15px;
  width: 100%;
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 1000;
}

@media (max-width: 1070px) {

  /* Change the breakpoint here */
  .navbar-nav .nav-item {
    margin-right: 5px;
    /* Adjust spacing between items */
  }
}

/* Adjusting navbar items */
.navbar-nav .nav-item {
  margin-right: 10px;
}

/* Optional: Center aligning the navbar items */
.navbar-nav {
  justify-content: center;
}

.navbar-nav .nav-link {
  white-space: nowrap;
  position: relative;
}

.navbar-nav .nav-link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  /* Adjust the thickness of the underline */
  background-color: #950101;
  /* Red color for the underline */
  transition: height 0.3s ease;
  /* Add a smooth transition effect */
}

.navbar-nav .nav-item {
  margin-right: 15px;

}


.navbar-nav .nav-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  /* Adjust the font size as needed */
  font-weight: 405;
  /* Adjust the font weight (400 for normal, 600 for bold, etc.) */
  /* Additional styling properties can be added here */
}


/*------------------------------------------------------*/


.footer-item {
  color: white;
}

.form-control {
  margin-right: 10px;
}

section[data-type=section-bg].theme--fog .img-container[data-gradient=top]:after {
  background-image: linear-gradient(180deg, #f4f4f4, transparent);
  top: 0
}

section[data-type=section-bg].theme--fog .img-container[data-gradient=bottom]:after {
  background-image: linear-gradient(0deg, #f4f4f4, transparent);
  bottom: 0
}

section[data-type=section-bg].theme--fog .quick-link a {
  color: #000
}


.container-fluid-navbar {
  padding-right: 15px;
  /* Adjust as needed */
  padding-left: 15px;
  /* Adjust as needed */
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  /* Ensures the container takes full width */
}

.container-navbar {
  padding-right: 15px;
  /* Adjust as needed */
  padding-left: 15px;
  /* Adjust as needed */
  margin-right: auto;
  margin-left: auto;
}

@media (min-width : 1600px) {
  .container-fluid-navbar {
    max-width: fit-content;
  }

  .navbar-brand {
    padding-right: 400px;
  }
}

.hover:shadow-xl:hover {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.custom-card-height {
  height: 500px;
}