
{%extends "base/base.html"%} 
{%load static%} 
{%block title %}
  CEL|CampusVisit
{%endblock%} 
{% block extrahead %}
  <link
    rel="stylesheet"
    href="{% static 'css/campusVisitFront.css' %}"
  />
{% endblock %} 

{%block content%}
  <form method="post" action="{% url 'campusVisitFront' %}">

    {% csrf_token %} 
    {{alumniFormSet.management_form}}

    <div id='alumni-Form-Container' method="POST">
      {%for form in alumniFormSet%}
        <div class='alumniForm'>
          {{form.as_p}}
        </div>
      {%endfor%}
    </div>

    <button type='button' id='add-more-alumni'>Add Alumni</buttom>

    <button type="submit">Submit</button>
  </form>

<script>
  
  let form = document.querySelectorAll(".alumniForm")
  let container=document.getElementById("alumni-Form-Container")
  let addButton=document.getElementById("add-more-alumni")
  let totalForm=document.getElementById("id_form-TOTAL_FORMS")

  let formNum= form.length-1

  addButton.addEventListener('click', addAlumniForm)

  function addAlumniForm(event){
      event.preventDefault()

      let newForm = form[0].cloneNode(true)
      console.log(newForm)
      let formRegex = RegExp(`form-(\\d){1}-`,'g')
      console.log(formRegex)
      formNum++
      console.log(formNum)
      newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
      console.log(newForm.innerHTML)
      // container.insertBefore(newForm, addButton)
      totalForm.setAttribute('value', formNum+1)
  }
</script>

{%endblock%}

