<section class="form-container" id="alumni-form-section" style="padding-top: 50px;">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <h1>Alumni Information</h1> 
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 m-auto">
        <form class= "multisteps-form__form" id="alumni-information-form" method="post" action="{% url 'campusVisitFront' %}">
          {% csrf_token %} 
          {{alumniFormSet.management_form}}
          <!--single form panel-->
          <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" id='alumni-Form-List' data-animation="scaleIn">
            {%for form in alumniFormSet%}
            <div class="multisteps-form__content" id="additional-alumni-Form" class="alumniForm" >
              <div>
                <div class="row ">
                  <div class="col-md-12">
                    <h2 style="margin-top: 50px;">Alumni 1</h2>
                  </div>
                </div>
                <div class="form-row mt-4">
                  <div class="col-12 col-sm-6">
                    {{form.firstName}}
                  </div>
                  <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                    {{form.lastName}}
                  </div>
                </div>
                <div class="form-row mt-4">
                  <div class="col-12 col-sm-4">
                    {{form.BitsId}}
                  </div>
                  <div class="col-12 col-sm-4 mt-4 mt-sm-0">
                    {{form.email}}
                  </div>
                  <div class="col-12 col-sm-4 mt-4 mt-sm-0">
                    {{form.phoneNumber}}
                  </div>
                </div>
                <div class="form-row mt-4">
                  <div class="col">
                    {{form.currAddress}}
                  </div>
                </div>
                <div class="form-row mt-4">
                  <div class="col-12 col-sm-3">
                    {{form.city}}
                  </div>

                  <div class="col-12 col-sm-3">
                    {{form.state}}
                  </div>

                  <div class="col-12 col-sm-3">
                    {{form.country}}
                  </div>

                  <div class="col-12 col-sm-3">
                    {{form.zip}}
                  </div>
                </div>
                <div class="form-row mt-4">
                    <div class="col-12 col-sm-6">
                      {{form.currCompany}}
                    </div>
                    <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                      {{form.CompanyDesignation}}
                    </div>
                  </div>
                  <div class="form-row mt-4">
                    <div class="col-sm-3 mt-4 mt-sm-0">
                        <!-- <input class="multisteps-form__input form-control" type="date" placeholder="Date of Visit"/> -->
                        {{form.arrivialDateTime}}
                    </div>
                    <div class="col-sm-6 mt-1 mt-sm-0">
                        {{form.purposeOfVisit}}
                    </div>
                    <div class="col-sm-3 mt-4 mt-sm-0">
                      <!-- <input class="multisteps-form__input form-control" type="text" placeholder="Duration of Visit"/> -->
                      {{form.departureDateTime}}
                    </div>
                  </div>
                  <!--  d-flex mt-4 -->
                
                <!-- <hr style="height: 2px; background-color:black"> -->
                
              </div>
            </div>
            {%endfor%}
                
              </div>
              </div>
              
            </form>
            <div class="button-row d-flex mt-4 justify-content-center">
              <div class="col-lg-6">
                <button class="btn btn-outline-primary btn-block ml-auto btn-lg" id="add-more-alumni" type="button" title="Add Another Alumni">Add another Alumni</button>
              </div>
              <div class="col-lg-6">
                <button class="btn btn-outline-primary btn-block ml-auto btn-lg" id="add-non-alumni-button" type="button" title="Add a non Alumni" onclick="toggleNonAlumniPart()">Add a non-alumni</button>
              </div>
            </div>
      </div>
    </div>
  </div>
</section>