


<!-- Guest Form -->

<section>
  <div class="container-fluid form-container" id="non-alumni-container-1" style="display:none">
    <div class="container non-alumni-title">
      <h1>Non-alumni Information</h1>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 m-auto">
        <form class="multisteps-form__form">
          <!--single form panel-->
          <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
            <div class="multisteps-form__content">
              <div class="form-row mt-4">
                <div class="col-12 col-sm-6">
                  <!-- <input class="multisteps-form__input form-control" type="text" placeholder="First Name"/> -->
                </div>
                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                  <input class="multisteps-form__input form-control" type="text" placeholder="Last Name"/>
                </div>
              </div>
  
              <div class="form-row mt-4">
                <div class="col">
                  <input class="multisteps-form__input form-control" type="text" placeholder="Address"/>
                </div>
              </div>

              <div class="form-row mt-4">
                <div class="col">
                  <input class="multisteps-form__input form-control" type="text" placeholder="Phone Number"/>
                </div>
              </div>
              
                <!--  d-flex mt-4 -->
              <div class="button-row d-flex mt-4">
                <button class="btn btn-success btn-lg ml-auto" type="button" title="Send">Send</button>
                <button class="btn btn-primary ml-auto" type="button" title="Send">Add a non-alumni</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
</section>

<script>

function toggleNonAlumniPart() {
    // Get the non-alumni part element
      var nonAlumniPart = document.getElementById('non-alumni-container-1');
      var alumni_send_button = document.getElementById('alumni-send-button');
      var add_non_alumni_button = document.getElementById('add-non-alumni-button');
      
      if (nonAlumniPart.style.display === 'block') {
        nonAlumniPart.style.display = 'none';
        alumni_send_button.removeAttribute("hidden");

        add_non_alumni_button.textContent = "Add non-alumni";
        add_non_alumni_button.classList.add('btn-primary');
        add_non_alumni_button.classList.remove('btn-danger');

        
      }else{
        nonAlumniPart.style.display = 'block';
        alumni_send_button.setAttribute("hidden","hidden");
        
        add_non_alumni_button.textContent = "Remove non-alumni";
        add_non_alumni_button.classList.remove('btn-primary');
        add_non_alumni_button.classList.add('btn-danger');
      }
    }
</script>
