.image-banner {
  position: relative;
  /* top: 170px; */
  /* Replace with your image path */
  background-size: cover;
  background-position: center;
  height: 30vw;
  /* Adjusts height relative to the width of the viewport */
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.image-banner::before,
.image-banner::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background: rgba(0, 0, 0, 0 5);
  /* Dark shade */
}

.image-banner::before {
  left: 0;
}

.image-banner::after {
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  /* Changed from 0.7 to 0.5 to make it less dark */
}

.line-divider {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  border-left: 1px solid #fff;
  /* Line dividing the shades */
}

@keyframes slideFadeUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

svg:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

h3:hover {
  color: #ff0000;
}

.procedure-section {
  max-width: 2000px;
  /* Adjust the value as per your requirement */
  margin: 0 auto;
  /* Center align the section */
}

.left-text {
  position: absolute;
  left: 4%;
  /* Percentage-based positioning */
  z-index: 2;
  /* To ensure text is above the shades */
  font-size: 4vw;
  /* Responsive font size */
  animation: slideFadeUp 0.5s ease-out forwards;
  /* Apply pop-in animation */
  animation-delay: 0.2s;
  /* Optional: adjust delay as needed */
}

.right-text {
  position: absolute;
  right: 6%;
  /* This moves the text away from the right edge */
  top: 15vw;
  /* Increased to move the text further down */
  z-index: 2;
  font-size: 1.5vw;
  /* Responsive font size */
  max-width: 40%;
  /* Optional: to ensure the text doesn't stretch too wide on larger screens */
  animation: slideFadeUp 0.5s ease-out forwards;
  /* Apply pop-in animation */
  animation-delay: 0.3s;
  /* Optional: adjust delay as needed */
}

/* Remaining CSS for other elements */


@media (max-width: 768px) {
  .right-text {
    font-size: 2vw;
    /* Larger font size for smaller screens */
    right: 8%;
    /* Adjust right position for smaller screens if necessary */
    top: 20vw;
    /* Increased to move the text further down on smaller screens */
  }

}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  /* font-size: 18px; */
  color: #555;
}

.welcome-text-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 110%;
  /* Adjust the font size as needed */
  font-weight: 500;
}

.welcome-text {
  /* position: relative; */
  top: 150px;
  background: #f4f4f4;
  /* Updated background color */
  padding: 40px;
  text-align: center;
  color: #1d1d1d;
  /* Change text color for better readability on the dark background */
}

.welcome-text .headline {
  font-family: 'Open Sans', sans-serif;
  color: #1d1d1d;
  /* Lighter color for the headline for contrast */
  font-size: 3rem;
  margin-bottom: 0.5em;
}

.welcome-text .subtext {
  margin-bottom: 1em;
}

/* Remaining CSS stays the same */

/* Slide fade-up animation */
@keyframes slideFadeUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.pop-in {
  animation: slideFadeUp 0.5s ease-out forwards;
}

/* Stagger the animation for each element */
.pop-in:nth-child(1) {
  animation-delay: 0.2s;
}

.pop-in:nth-child(2) {
  animation-delay: 0.3s;
}

.pop-in:nth-child(3) {
  animation-delay: 0.4s;
}

.visit-form {
  padding: 20px;
}

@media (min-width: 768px) {
  .welcome-text .headline {
    font-size: 4rem;
  }

  .welcome-text .subtext {
    font-size: 1.25rem;
  }
}

.form-container {
  /* position: relative; */
  top: 170px;
  margin-bottom: 50px;
}

.non-alumni-title {
  margin-top: 40px;
}

/* Style for inputs, selects, and textareas within the alumni information form */
#alumni-information-form input[type="text"],
#alumni-information-form input[type="email"],
#alumni-information-form input[type="tel"],
#alumni-information-form input[type="date"],
#alumni-information-form select,
#alumni-information-form textarea {
  border: 1px solid #000000;
  /* Border color */
  border-radius: 5px;
  /* Border radius */
  padding: 8px;
  /* Adjust padding as needed */
  margin-bottom: 10px;
  /* Adjust margin as needed */
  width: 100%;
  /* Ensure input fields take up full width */
  box-sizing: border-box;
  /* Include padding and border in the element's total width and height */
}

/* Optional: Add hover and focus styles for better user interaction */
#alumni-information-form input[type="text"]:hover,
#alumni-information-form input[type="email"]:hover,
#alumni-information-form input[type="tel"]:hover,
#alumni-information-form input[type="date"]:hover,
#alumni-information-form select:hover,
#alumni-information-form textarea:hover,
#alumni-information-form input[type="text"]:focus,
#alumni-information-form input[type="email"]:focus,
#alumni-information-form input[type="tel"]:focus,
#alumni-information-form input[type="date"]:focus,
#alumni-information-form select:focus,
#alumni-information-form textarea:focus {
  border-color: #007bff;
  /* Change border color on hover and focus */
  outline: none;
  /* Remove default focus outline */
}

/* Style for inputs, selects, and textareas within the alumni information form */
#alumni-information-form input[type="text"],
#alumni-information-form input[type="email"],
#alumni-information-form input[type="tel"],
#alumni-information-form input[type="date"],
#alumni-information-form select,
#alumni-information-form textarea {
  border: 1px solid #000000;
  /* Border color */
  border-radius: 5px;
  /* Border radius */
  padding: 8px;
  /* Adjust padding as needed */
  margin-bottom: 10px;
  /* Adjust margin as needed */
  width: 100%;
  /* Ensure input fields take up full width */
  box-sizing: border-box;
  /* Include padding and border in the element's total width and height */
}

/* Optional: Add hover and focus styles for better user interaction */
#guest-information-form input[type="text"]:hover,
#guest-information-form input[type="email"]:hover,
#guest-information-form input[type="tel"]:hover,
#guest-information-form select:hover,
#guest-information-form textarea:hover,
#guest-information-form input[type="text"]:focus,
#guest-information-form input[type="email"]:focus,
#guest-information-form input[type="tel"]:focus,
#guest-information-form select:focus,
#guest-information-form textarea:focus {
  border-color: #007bff;
  /* Change border color on hover and focus */
  outline: none;
  /* Remove default focus outline */
}

#guest-information-form input[type="text"],
#guest-information-form input[type="email"],
#guest-information-form input[type="tel"],
#guest-information-form select,
#guest-information-form textarea {
  border: 1px solid #000000;
  /* Border color */
  border-radius: 5px;
  /* Border radius */
  padding: 8px;
  /* Adjust padding as needed */
  margin-bottom: 10px;
  /* Adjust margin as needed */
  width: 100%;
  /* Ensure input fields take up full width */
  box-sizing: border-box;
  /* Include padding and border in the element's total width and height */
}

/* Style for the "Add another Alumni" and "Add a non-alumni" buttons */
#add-more-alumni,
#add-more-guest,
#add-non-alumni-button {
  border: 2px solid #000;
  /* Border color */
  border-radius: 10px;
  /* Border radius */
  padding: 8px 20px;
  /* Adjust padding as needed */
  margin-bottom: 10px;
  /* Adjust margin as needed */
  background-color: #fff;
  /* White background */
  color: #000;
  /* Text color */
  cursor: pointer;
  /* Cursor style */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  /* Smooth transition */
}

/* Hover styles for the buttons */
#add-more-alumni:hover,
#add-more-guest:hover,
#add-non-alumni-button:hover {
  background-color: #cfcccc;
  /* Background color on hover */
  color: #000000;
  /* Text color on hover */
}

/* Focus styles for the buttons */
#add-more-alumni:focus,
#add-more-guest:focus,
#add-non-alumni-button:focus {
  outline: none;
  /* Remove default focus outline */
}


.close {
  position: absolute;
  top: 35px;
  right: 20px;
  font-size: 4rem;
  /* Increase the font-size to make the cross button larger */
  font-weight: 700;
  line-height: 1;
  /* Adjust the line-height to keep the button in the same line */
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.close:hover {
  color: #000;
  text-decoration: none;
  opacity: .75;
}