.counter-container {
  padding-top: 20px;
}


.counter-list {
  list-style-type: none;
}

.counter-tag {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 200;
  line-height: 1;
}

.counter-value {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  font-size: 70px;
  color: #000;
}


.counter-list-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.custom-row {
  margin-right: 15px;
  margin-left: -15px;
}

.custom-col {
  margin-right: 100px;
  margin-left: 15px;
}


hr {
  width: 100%;
}

.counter-info-row {
  margin-bottom: 20px;
}

.imageContainer {
  width: 288px;
  height: 192px;
  /* overflow: hidden; */
  position: relative;
}

.imageData {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.event-card-img {
  overflow: hidden;
  transition: transform 0.5s ease;
}

.event-card-img:hover {
  transform: scale(1.1);
}

.cardTag {
  overflow: hidden;
}


/* Giving to bits================================================ */

.container-gtb {
  display: flex;
  flex-direction: row;
  /* Arrange sections vertically */
  padding: 20px;
  background-color: #f4f4f4;
  justify-content: center;

}

.text-section-gtb {
  max-width: 100%;
  /* Occupy full width */
  margin-bottom: 20px;
  padding-left: 10px;
  /* Add some space between sections */

}

.title-gtb {
  font-size: 72px;
  color: #333;
  margin-bottom: 20px;
}

.description-gtb {
  font-size: 25px;
  color: #666;
  margin-bottom: 20px;
}

.cta-button-gtb {
  background-color: red !important;
  color: white;
  padding: 15px 20px;
  text-decoration: none !important;
  border-radius: 10px;
  display: inline-block;
  max-width: fit-content;
  transition: background-color 0.8s ease;
  overflow: hidden;

}

.cta-button-gtb:hover {
  background-color: rgb(182, 0, 0) !important;
  color: white !important;
}

.cta-button-gtb:before {
  content: '';
  position: absolute;
  color: white !important;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  text-decoration: none !important;
  transition: right 0.5s ease;
  z-index: 0;
}

.cta-button-gtb span {
  position: relative;
  z-index: 1;
}

.cta-button-gtb:hover:before {
  right: 0;
}

.image-section-gtb {
  display: flex;
  align-items: center;
  padding-right: 10px;
  min-width: 650px;
  width: 100%;
  /* Occupy full width */
  margin-bottom: 20px;
  /* Add some space between sections */
}

.image-section-gtb img {
  max-width: 100%;
  /* Ensure image fits within container */
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.image-section-gtb img:hover {
  transform: scale(1.05);
}

@media (max-width: 990px) {
  .container-gtb {
    flex-direction: column;
    /* Switch back to horizontal layout */
    align-items: center;
    /* Center align items vertically */
  }

  .text-section-gtb {
    display: grid;
    max-width: 50%;
    /* Occupy half width on larger screens */
    margin-right: 20px;
    /* Add space between sections */
  }

  .title-gtb {
    display: flex;
    justify-self: center;
    font-size: 70px;
  }

  .description-gtb {
    display: flex;
    justify-self: center;
    text-align: center;
    font-size: 35px;
  }

  .cta-button-gtb {
    display: flex;
    justify-self: center;
    font-size: 30px;
  }

  .image-section-gtb {
    width: 50%;
    /* Occupy half width on larger screens */
  }

  .article-title {
    font-size: 64px;
  }

  .article-summary {
    font-size: 20px;
  }

  .alumni-articles-title {
    font-size: 64px;
  }

  .alumni-articles-intro-text {
    font-size: 20px;
  }
}

.cardTag {
  color: #000;
  text-decoration: none;
}

.cardTag:hover {
  color: #000;
  text-decoration: none;
}




.max-w-6xl {
  margin-top: -2rem;
}


/*----------------- ALUMNI ARTICLES ----------------------------- */

.container-alumni-articles {
  width: 80%;
  text-align: center;
  animation: slideFadeUp 0.5s ease-out forwards;
  animation-delay: 0.2s;
}

.intro-text {
  margin-bottom: 50px;
  color: #666;
}

.articles {
  display: flex;
  justify-content: space-between;
}

.article {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  /* Adjusted for equal height while considering the margins */
}

.article-title,
.article-summary,
.read-more {
  font-family: "Open Sans", sans-serif;
  color: #211d70;
  margin: 10px 0;
  transition: color 0.3s ease;
  animation: slideFadeUp 0.5s ease-out forwards;
  /* Apply pop-in animation */
  animation-delay: 0.2s;
  /* Optional: adjust delay as needed */
}

.article-title {
  font-size: 40px;
}

.article-summary {
  line-height: 1.8;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}


.article-summary {
  color: #666;
}

.read-more {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 5px;
  margin-top: auto;
  /* Push the button to the bottom */
  align-self: center;
  /* Center the button */
  animation: slideFadeUp 0.5s ease-out forwards;
  /* Apply pop-in animation */
  animation-delay: 0.2s;
  /* Optional: adjust delay as needed */
}

.read-more:hover {
  background-color: #ff0000;
}

.alumni-articles-title {
  margin-top: 50px;
  margin-bottom: 35px;
  font-size: 64px;
}

.alumni-articles-intro-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 50px;
  line-height: 1.8;
}

.view-all {
  border: 2px solid #007bff;
  background-color: transparent;
  color: #007bff;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin-top: 50px;
  margin-bottom: 50px;
  animation: slideFadeUp 0.5s ease-out forwards;
  /* Apply pop-in animation */
  animation-delay: 0.2s;
  /* Optional: adjust delay as needed */
}

.view-all span,
.view-all::after {
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

@keyframes text-pop {

  0%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }

  49% {
    transform: translateY(-200%);
    opacity: 0;
  }

  50% {
    transform: translateY(200%);
    opacity: 0;
  }
}

.view-all:hover span,
.view-all:hover::after {
  animation: text-pop 0.4s ease-out forwards;
}

/* Other styles remain the same 

@media (max-width: 768px) {
  .articles {
    flex-direction: column;
    align-items: center;
  }

  .article {
    width: 100%;
  }

  .article h2,
  .article p,
  .article button {
    align-self: center;
  }
}

*/
/* 

.title,
.giving-to-bits-title,
.alumni-articles-title {
  font-size: 3.7rem;
  font-weight: 800;
  color: #333;
  margin-bottom: 50px;
  margin-top: 50px;
}

.article-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.alumni-articles {
  background-color: #f4f4f4;
}

.giving-to-bits-title {
  font-family: "Open Sans";
  font-weight: 600 !important;
  margin-top: 20px;
  margin-bottom: 20px !important;
} */